<h1 class="cover-heading">Users list</h1>

<div class="panel panel-default">
    <!-- Table -->
    <table class="table"></table>
</div>

<form class="lead">
    <div class="form-group">
        <input type="text" class="form-control" placeholder="Set user name">
    </div>
    <button type="submit" class="btn btn-lg btn-default save_btn">Add user</button>
</form>
